.app-quiz-setup {
  .app-quiz-setup-nav {
    // border: 4px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;

    .setup-nav-item {
      // border: 4px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #41a0ff;
      cursor: pointer;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.8;

        svg {
          opacity: 0.8;
        }
      }

      svg {
        color: inherit;
      }
    }
  }

  .no-quiz-item-wrapper {
    width: 100%;
    color: #41a0ff;

    .no-item-controls {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.2rem;
      cursor: pointer;
      transition: opacity 0.3s ease;
      // border: 4px solid green;

      &:hover {
        opacity: 0.7;
      }

      svg {
        margin-right: 0.4rem;
        color: #41a0ff !important;
      }
    }

    .no-quiz-item {
      color: rgba(0, 0, 0, 0.4);
      text-align: center;
      padding: 25px;
      font-size: 1rem;
      // border: 4px solid red;
    }
  }

  .app-quiz-setup-item {
    // margin-bottom: 0.5rem;

    .app-quiz-input-adder {
      color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // font-size: 1.4rem;
      // margin-bottom: 0.2rem;
      transform: color 0.3s ease;
      // border: 4px solid red;
      width: fit-content;

      &:hover {
        color: rgba(0, 0, 0, 0.4);

        svg {
          color: rgba(0, 0, 0, 0.3);
        }
      }

      &.below {
        margin-bottom: 1rem;
        // margin-top: 0.3rem;
      }

      .adder-input-label {
        margin-left: 0.5rem;
        font-size: 0.85rem;
      }

      svg {
        width: 0.85rem;
        color: rgba(0, 0, 0, 0.2);
      }
    }

    @media screen and (max-width: 700px) {
      // margin-bottom: 3rem;
    }
  }
  .app-quiz-setup-section {
    border: 2px solid #41a0ff;
    background-color: #41a0ff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    // margin-bottom: 1rem;
    // border: 4px solid red;
    // height: 44px;
    // max-height: 44px;
    overflow: hidden;

    .app-quiz-question-section-header {
      // border: 4px solid green;
      padding: 5px 10px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        // background-color: #d6d8da;
        // background-color: #5daeff;
      }

      .app-quiz-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .app-question-id-wrapper {
          display: flex;
          align-items: center;
          // border: 4px solid red;
          // margin-bottom: 0.5rem;
          flex: 1;

          .app-question-id {
            font-size: 1.113rem;
            margin-left: 0.4rem;

            @media screen and (max-width: 700px) {
              font-size: 1.1rem;
              margin-left: 1rem;
              // border: 4px solid green;
              word-wrap: wrap;
            }
          }
        }

        .app-controls-btn {
          text-align: end;
          width: fit-content;
          // border: 4px solid orange;
        }
      }

      .app-quiz-question-section-label {
        font-size: 1.2rem;

        @media screen and (max-width: 700px) {
          font-size: 1rem;
        }
      }

      .arrow-icon {
        transition: all 3s ease-out;
      }

      div {
        width: 100%;
      }
    }

    .app-quiz-question-input {
      // border: 4px solid red;

      width: 100%;

      .app-quiz-input {
        background-color: white;
        padding: 1rem;
        border-radius: 4px;
      }

      .app-quiz-question-text-input {
        padding: 1rem 0;
      }

      .app-quiz-question-input-control {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button:first-of-type {
          margin-right: 1rem;
        }
      }
    }
  }

  .app-quiz-question-section-content {
    // border: 4px solid purple;
    height: fit-content;
    max-height: 0;
    transition: all 0.4s ease;

    &.opened {
      max-height: 100rem;
      overflow-y: auto;
    }

    .app-quiz-answers-box {
      // background-color: #f4f4f4;
      background-color: #f8fbfc;
      padding: 10px;
      padding-left: 25px;

      @media screen and (max-width: 700px) {
        padding-left: 10px;
      }

      .app-quiz-answers-box-title {
        font-size: 13px;
        text-transform: uppercase;
        margin: 0.5rem 0;
      }

      .app-quiz-setup-section {
        border-radius: 0 5px 5px 0;
      }

      .app-quiz-input-adder.none {
        width: 100%;
      }

      // .app-quiz-answers-item {
      //   margin-bottom: 1rem;
      //   // background-color: green;
      //   border: 1px solid #eee;

      //   .app-quiz-answers-item-header {
      //     background-color: #41a0ff;
      //     border-radius: 0 5px 0 0;
      //     padding: 5px 10px;
      //     display: flex;
      //     justify-content: space-between;
      //     align-items: center;
      //     cursor: pointer;

      //     &:hover {
      //       // background-color: #d6d8da;
      //       background-color: #5daeff;
      //     }
      //   }

      //   .app-quiz-answers-item-text {
      //     padding: 5px 10px;
      //     font-size: 1.1rem;
      //   }
      // }
    }

    .app-quiz-question-text {
      background: white;
      padding: 5px 10px;
      font-size: 1.1rem;
      line-height: 2rem;
      border-bottom: 1px solid #eee;
    }
  }
}
