* {
  box-sizing: border-box;
}

.app-toast {
  font-size: 1rem;
}

body {
  margin: 0;
  font-size: 2rem;
  font-family: "Roboto" sans-serif;

  .container {
    border: 4px solid red;
  }

  #app-layout {
    .app-icon-button {
      background-color: transparent;
      border: none;

      &:not(:first) {
        margin: 0 1rem;
      }
    }

    max-width: 100vw;
    overflow-y: hidden;
    height: 100vh;

    .app-main-content {
      padding: 20px;
      display: grid;

      grid-template-areas:
        "header  header header"
        "sidebar main  main"
        "sidebar main  main"
        "sidebar main  main"
        "sidebar main  main"
        "sidebar main  main";

      #app-header {
        border: 4px solid orange;
        grid-area: header;
        height: 5rem;
      }

      #app-sidebar {
        width: 300px;
        padding: 10px;
        border: 4px solid green;
        grid-area: sidebar;
      }

      #app-main {
        padding: 10px;
        border: 4px solid yellow;
        grid-area: main;
      }
    }
  }
}
