* {
  box-sizing: border-box;
}

.app-toast {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #41a0ff;
}

body {
  margin: 0;
  font-size: 2rem;
  // font-size: 1rem;
  font-family: "Roboto" sans-serif;
  color: #0008;

  @media screen and (max-width: 1400px) {
    font-size: 1.4rem;
  }

  .page-title {
    margin: 0;
    font-weight: 600;
  }

  .container {
    // border: 4px solid red;
    overflow: hidden;
  }

  #app-layout {
    .app-icon-button {
      background-color: transparent;
      border: none;

      &:not(:first) {
        margin: 0 1rem;
      }
    }

    max-width: 100vw;
    overflow-y: hidden;
    height: 100vh;

    #app-header {
      // border: 4px solid orange;
      grid-area: header;
      height: 5rem;

      .app-header-brand {
        display: flex;
        margin-top: 5px;
        // border: 4px solid green;

        svg {
          font-size: 3rem;
          margin-right: 1rem;
        }
      }
    }

    .app-main-content {
      padding: 20px;
      display: grid;

      @media screen and (max-width: 1400px) {
        padding: 10px;
      }

      grid-template-areas:
        "header  header header"
        "sidebar main  main"
        "sidebar main  main"
        "sidebar main  main"
        "sidebar main  main"
        "sidebar main  main";

      grid-template-columns: 20% 1fr;

      @media screen and (max-width: 1400px) {
        grid-template-columns: 25%;
      }

      @media screen and (max-width: 800px) {
        grid-template-columns: 300px 1fr;
      }

      #app-sidebar {
        // width: 300px;
        // padding: 10px;
        // border: 4px solid green;
        grid-area: sidebar;
        border-right: 2px solid #f3f3f3;
        padding-right: 20px;

        font-family: "Roboto" sans-serif;
        position: relative;
        // border: 4px solid greenyellow;

        @media screen and (max-width: 1400px) {
          padding-right: 10px;
        }

        .sidebar-header {
          display: flex;
          justify-content: center;
          // border: 4px solid orange;

          .app-menu-icon {
            position: absolute;
            right: 10px;
            top: 18px;
            cursor: pointer;

            svg {
              font-size: 1.6rem;
            }
          }
        }

        .sidebar-menu {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          // border: 1px solid red;
          max-height: calc(100vh - 250px);
          overflow-y: auto;
        }

        .app-create-button {
          // margin-left: 35px;
          // margin-right: 10px;
          margin-bottom: 1rem;
          // margin-top: 0.5rem;
        }

        .sidebar-tasks-list {
          line-height: 2.2rem;
          color: #0f0f0f99;

          &:not(:last-of-type) {
            margin-bottom: 1rem;
          }

          .sidebar-tasks-list-label {
            text-transform: uppercase;
            font-size: 0.85rem;
            margin: 0 30px;
            margin-bottom: -10px;
          }

          .sidebar-tasks-list-item {
            font-size: 1.2rem;
            cursor: pointer;
            line-height: 1.1rem;

            background-color: #f3f6f7;
            padding: 5px 10px;
            margin: 8px 0;
            border-radius: 0 20px 20px 0;
            // text-align: center;
            color: #0007;
            padding-left: 35px;

            &:hover {
              background-color: #e7f3ff;
              color: #41a0ff;
            }

            &.active {
              background-color: #e7f3ff;
              border-radius: 0 20px 20px 0;
              // text-align: center;
              // font-weight: bold;
              color: #41a0ff;
            }

            span {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              svg {
                margin-right: 0.5rem;
                font-size: 1.4rem;
              }
            }
          }
        }
      }

      #app-main {
        padding: 10px;
        // border: 4px solid yellow;
        grid-area: main;
        margin-left: 20px;
        overflow-y: auto;
        height: calc(100vh - 100px);
        // border: 4px solid palegreen;

        // .app-datatable {
        //   border: 4px solid purple;
        //   overflow-y: auto;
        //   height: 10px;
        // }
      }
    }
  }
}
